Localization
{
    zh-cn
    {
    //研思诸署
    #CLEP_CAST = 中国航天技艺院
    #CLEP_AALPT = 航空液火推进研究院
    #CLEP_IIST = 伊斯兰堡格格格格研技府
    #CLEP_SJTU = 沪上交大

    //动效名
	#CLEP_ExtFix = 启除弊法
	#CLEP_RetFix = 复闭除弊
	#CLEP_Fix = 除弊启闭
    #CLEP_ExtendSolarPanel = 展光曜板
    #CLEP_RetractSolarPanel = 敛光曜板
	#CLEP_SolarPanel = 光曜板启闭
	#CLEP_CE7Lander_SolarPanelDown = 收曜板向下
	#CLEP_CE7Lander_SolarPanelUp = 展曜板向上
	#CLEP_CE7Lander_SolarPanelUpDowm = 曜板展敛之枢
    #CLEP_ExpandLeg = 展降足
	#CLEP_RetractLeg = 敛降足
	#CLEP_Leg = 降足启闭
    #CLEP_ExpandCamera = 展鉴镜
	#CLEP_RetractCamera = 敛鉴镜
	#CLEP_Camera = 鉴镜启闭
    #CLEP_ExtendAntenna = 展讯杆
	#CLEP_RetractAntenna = 敛讯杆
	#CLEP_Antenna = 讯杆启闭
    #CLEP_ExtendAntenna1 = 展首讯杆
	#CLEP_RetractAntenna1 = 敛首讯杆
	#CLEP_Antenna1 = 首讯杆启闭
    #CLEP_ExtendAntenna2 = 展次讯杆
	#CLEP_RetractAntenna2 = 敛次讯杆
	#CLEP_Antenna2 = 次讯杆启闭
    #CLEP_ExtendXT0 = 锁梯阶
	#CLEP_RetractXT0 = 释梯阶
	#CLEP_XT0 = 梯锁启闭
	#CLEP_ExtendXT1 = 伸梯阶
	#CLEP_RetractXT1 = 卷梯阶
	#CLEP_XT1 = 梯伸卷枢
	#CLEP_ExtendXT2 = 下梯阶
	#CLEP_RetractXT2 = 举梯阶
	#CLEP_XT2 = 梯升降枢
	#CLEP_ExtFlag = 展旌旗
	#CLEP_RetFlag = 敛旌旗
	#CLEP_Flag = 旌旗启闭
	#CLEP_Extdrill = 启钻探
	#CLEP_Retdrill = 止钻探
	#CLEP_Drill = 钻探启闭
	#CLEP_CEE3ExtLan = 备月壤升空
	#CLEP_CEE3RetLan = 罢升空之备
	#CLEP_CEE3Lan = 升空备启闭
	#CLEP_ExtSampling = 启撷月壤
	#CLEP_RetSampling = 罢撷月壤
	#CLEP_Sampling = 撷壤启闭
	#CLEP_ExtCapture = 伸攫取之械
	#CLEP_RetCapture = 卷攫取之械
	#CLEP_Capture = 攫械启闭
	#CLEP_ExtTransfer = 启转输壤样
	#CLEP_RetTransfer = 止转输壤样
	#CLEP_Transfer = 转输启闭
	#CLEP_ExtDoor = 启舱扉
	#CLEP_RetDoor = 闭舱扉
	#CLEP_Door = 舱扉启闭
	#CLEP_ExtRoad = 伸通隧
	#CLEP_RetRoad = 卷通隧
	#CLEP_Road = 通隧启闭
	#CLEP_Hopper_ExtFoot = 跃足下置
	#CLEP_Hopper_RetFoot = 跃足上收
	#CLEP_Hopper_Foot = 跃足启闭
	#CLEP_Hopper_ExtTaxi = 启腾跃巡行
	#CLEP_Hopper_RetTaxi = 止腾跃巡行
	#CLEP_Hopper_Taxi = 腾跃启闭

	//器物叙录
		//接环之属
		#CLEP_CEAdapter_title = 嫦娥转接环
		#CLEP_CEAdapter_description = 此环用以绾合嫦娥五号、六号、七号降器诸段。
		#CLEP_CEAdapter_tags = Chang'e-5 Chang'e-6 Chang'e-7 adapter structure

		//火机诸器
		#CLEP_YF36_title = YF‑36火机（嫦娥所用）
		#CLEP_YF36_description = YF‑36者，七千五百牛变推力之火机也。中国航宇推进院所造，用于遐荒星宇之探，其能冠绝当世。
		#CLEP_YF36_tags = 7500N YF36 YF-36 Chang'e engine liquid variable‑thrust
		#CLEP_YF36CE3 = YF‑36火机，配嫦娥三号，比冲三百一十一息
		#CLEP_YF36CE4 = YF‑36火机，配嫦娥四号，比冲三百一十三息
		#CLEP_YF36CE5 = YF‑36火机，配嫦娥五号，比冲三百一十七息
		#CLEP_YF36CE6 = YF‑36火机，配嫦娥六号，比冲三百二十五息
		#CLEP_YF36CE7 = YF‑36火机，配嫦娥七号，比冲三百四十一息
		#CLEP_YF36Lanyue = YF‑36火机，供揽月之役
		#CLEP_YF35_title = YF‑35火机
		#CLEP_YF35_description = YF‑35者，三千牛变推力火机。擅深空之探，嫦娥、天问诸探测器咸用之。
		#CLEP_YF35_tags = 3000N YF35 YF-35 Chang'e Tianwen Orbiter Ascender engine
		#CLEP_YF35CE5 = YF‑35火机，嫦娥五号轨器升器所用，比冲三百一十一息
		#CLEP_YF35CE6 = YF‑35火机，嫦娥六号轨器升器所用，比冲三百一十三息
		#CLEP_YF35CE7 = YF‑35火机，嫦娥七号轨器所用，比冲三百一十七息
		#CLEP_YF35TW1 = YF‑35火机，天问一号轨器所用，比冲三百二十五息
		#CLEP_YF35TW3 = YF‑35火机，天问三号轨器辅舱所用，比冲三百四十一息
		#CLEP_YF35TW4 = YF‑35火机，天问四号主探器所用，比冲三百七十二息
		#CLEP_YF35A_title = YF‑35A火机
		#CLEP_YF35A_description = YF‑35A乃三千牛变推力火机之改良者，用于星壤巡探，嫦娥七号月面跃器赖之。
		#CLEP_YF35A_tags = 3000N YF35A YF-35A Chang'e hopper engine
		#CLEP_YF35ACE7 = YF‑35A火机，嫦娥七号跃器所用，比冲三百一十七息

		//嫦娥三、四号探测器
		#CLEP_CEE2Bal_title = 嫦娥三四号平衡配重件
		#CLEP_CEE2Bal_description = 配重之件，以调降器重心。
		#CLEP_CEE2Bal_tags = Chang'e-3 Chang'e-4 Balance counterweight
		#CLEP_CEE2Lander_title = 嫦娥三四号降器（无梯）
		#CLEP_CEE2Lander_description = 嫦娥三、四号登月之器，本版无巡车下阶之梯。
		#CLEP_CEE2Lander_tags = Chang'e-3 Chang'e-4 Lander lunar
		#CLEP_CEE2Leg_title = 嫦娥三四号降足
		#CLEP_CEE2Leg_description = 降足，用以月面缓落，消坠地之冲。
		#CLEP_CEE2Leg_tags = Chang'e-3 Chang'e-4 Landing Leg shock‑absorber
		#CLEP_CEE2LXT_title = 嫦娥三四号降器（带梯）
		#CLEP_CEE2LXT_description = 嫦娥三四号登月舱，置梯以供玉兔巡车下行。
		#CLEP_CEE2LXT_tags = Chang'e-3 Chang'e-4 Lander lunar ladder
		#CLEP_CEE2XTG_title = 嫦娥三四号主梯
		#CLEP_CEE2XTG_description = 玉兔巡车下登月面之主阶。
		#CLEP_CEE2XTG_tags = Chang'e‑3 Chang'e‑4 Ladder rover
		#CLEP_CEE2XTH_title = 嫦娥三四号后段梯
		#CLEP_CEE2XTH_description = 巡车下阶之后截。
		#CLEP_CEE2XTH_tags = Chang'e‑3 Chang'e‑4 Ladder rover
		#CLEP_CEE2XTQ_title = 嫦娥三四号前段梯
		#CLEP_CEE2XTQ_description = 巡车下阶之前截。
		#CLEP_CEE2XTQ_tags = Chang'e‑3 Chang'e‑4 Ladder rover
		#CLEP_YTE1_title = 玉兔一二号巡车
		#CLEP_YTE1_description = 中土月面巡行之车，遍历月壤以察天象地情。
		#CLEP_YTE1_tags = Chang'e‑3 Chang'e‑4 Rover Yutu‑1 Yutu‑2 lunar‑rover
		#CLEP_YTE1Wheel_title = 玉兔巡车之轮
		#CLEP_YTE1Wheel_description = 御月壤之轮，防滑涩，宜于月地驰行。
		#CLEP_YTE1Wheel_tags = Chang'e‑3 Chang'e‑4 Rover Wheel Yutu‑1 Yutu‑2 Yutu‑3
		#CLEP_YTE1XB_title = 玉兔一二号轮臂
		#CLEP_YTE1XB_description = 悬轮之臂，驰行则消震荡。
		#CLEP_YTE1XB_tags = Chang'e‑3 Chang'e‑4 Rover Cantilever wheel

		//嫦娥五、六号探测器
		#CLEP_CEE3ADock2_title = 嫦娥五六号升器对接埠
		#CLEP_CEE3ADock2_description = 升器与轨器相衔之接口。
		#CLEP_CEE3ADock2_tags = Chang'e‑5 Chang'e‑6 Ascender DockingPort
		#CLEP_CEE3Ascender_title = 嫦娥五六号升舱
		#CLEP_CEE3Ascender_description = 自月面携壤升空，赴月轨以待交会扣合之舱。
		#CLEP_CEE3Ascender_tags = Chang'e‑5 Chang'e‑6 Ascender sample
		#CLEP_CEE3Dock1_title = 嫦娥五六号扣合机
		#CLEP_CEE3Dock1_description = 轨器升器彼此绾接之机关。
		#CLEP_CEE3Dock1_tags = Chang'e‑5 Chang'e‑6 DockingPort mechanism

		#CLEP_CEE3entry_title = 嫦娥五六号归返舱
		#CLEP_CEE3entry_description = 携月壤样本归返中土之舱。
		#CLEP_CEE3entry_tags = Chang'e‑5 Chang'e‑6 Re‑entry capsule
		#CLEP_CEE3LArm_title = 嫦娥五六号登月舱
		#CLEP_CEE3LArm_description = 落于月面，执撷壤之务。
		#CLEP_CEE3LArm_tags = Chang'e‑5 Chang'e‑6 Lander lunar
		#CLEP_CEE3Leg_title = 嫦娥五六号降足
		#CLEP_CEE3Leg_description = 月面软着陆，以此足缓冲坠势。
		#CLEP_CEE3Leg_tags = Chang'e‑5 Chang'e‑6 Landing Leg shock‑absorber
		#CLEP_CEE3Orbiter_title = 嫦娥五六号轨舱
		#CLEP_CEE3Orbiter_description = 待样本交割已毕，则启机载诸器归向中土。
		#CLEP_CEE3Orbiter_tags = Chang'e‑5 Chang'e‑6 Orbiter trans‑earth‑injection
		#CLEP_CEE3Parachute_title = 嫦娥五六号归返伞
		#CLEP_CEE3Parachute_description = 归舱入大气层，张此伞以缓其速。
		#CLEP_CEE3Parachute_tags = Chang'e‑5 Chang'e‑6 Parachute re‑entry
		#CLEP_ICUBEQ_title = ICUBE‑Q立方星
		#CLEP_ICUBEQ_description = 嫦娥六号所携副星，巴国共研之物。
		#CLEP_ICUBEQ_tags = Chang'e‑6 CubeSat ICUBE‑Q secondary‑payload
		#CLEP_Jinchan_title = 金蟾月上小械人
		#CLEP_Jinchan_description = 嫦娥六号登月舱所载小型行游机，察近旁月土。
		#CLEP_Jinchan_tags = Chang'e‑6 Jinchan lunar‑robot
		#CLEP_JinchanWheel_title = 金蟾械人之轮
		#CLEP_JinchanWheel_description = 小金蟾行游所用轮。
		#CLEP_JinchanWheel_tags = Chang'e‑6 Jinchan robot wheel

		//嫦娥七号探测器
		#CLEP_CE7Bal_title = 嫦娥七号配重件
		#CLEP_CE7Bal_description = 配重以调探测器重心。
		#CLEP_CE7Bal_tags = Chang'e‑7 Balance counterweight
		#CLEP_CE7cube_title = 嫦娥七号立方小星
		#CLEP_CE7cube_description = 嫦娥七号搭载之副星。
		#CLEP_CE7cube_tags = Chang'e‑7 Cube Satellite satellite
		#CLEP_CE7hopper_title = 嫦娥七号月面跃行舱
		#CLEP_CE7hopper_description = 可于月面腾跃往来之探器。
		#CLEP_CE7hopper_tags = Chang'e‑7 Hopper Module
		#CLEP_CE7Lander_title = 嫦娥七号登月舱
		#CLEP_CE7Lander_description = 嫦娥七号落月之台，携多般探察之具。
		#CLEP_CE7Lander_tags = Chang'e‑7 Lander lunar
		#CLEP_CE7Leg_title = 嫦娥七号降足
		#CLEP_CE7Leg_description = 缓冲之足，保嫦娥七号安稳落月。
		#CLEP_CE7Leg_tags = Chang'e‑7 Landing Leg shock‑absorber
		#CLEP_CE7Orbiter_title = 嫦娥七号轨舱
		#CLEP_CE7Orbiter_description = 环月而行，传讯兼司观象。
		#CLEP_CE7Orbiter_tags = Chang'e‑7 Orbiter comm‑relay

		#CLEP_CE7QR_title = 嫦娥七号侵壤探器
		#CLEP_CE7QR_description = 撞击月壤，贯入土下以察地层。
		#CLEP_CE7QR_tags = Chang'e‑7 Penetrator lunar‑soil
		#CLEP_CE7XTG_title = 嫦娥七号主梯
		#CLEP_CE7XTG_description = 玉兔三号巡车下登月面之主阶。
		#CLEP_CE7XTG_tags = Chang'e‑7 Ladder rover Yutu‑3
		#CLEP_CE7XTQ_title = 嫦娥七号前段梯
		#CLEP_CE7XTQ_description = 玉兔三号巡车下阶之前截。
		#CLEP_CE7XTQ_tags = Chang'e‑7 Ladder rover Yutu‑3
		#CLEP_YT3R_title = 玉兔三号巡车
		#CLEP_YT3R_description = 嫦娥七号所载新一代月面巡行之车。
		#CLEP_YT3R_tags = Chang'e‑7 Yutu‑3 Rover lunar‑rover
		#CLEP_YT3RXB_title = 玉兔三号轮臂
		#CLEP_YT3RXB_description = 玉兔三号悬轮缓冲之臂。
		#CLEP_YT3RXB_tags = Chang'e‑7 Yutu‑3 Cantilever wheel rover
    }
}